<div class="leftpane">
    <p class="players_name_highlighted">{{listofplayers[activeplayernumber].playername}}</p>
    <table class="lower-table-left">
        <thead class="lower-table-left thead">
        <tr>
            <td>Category</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody class="lower-table-left tbody">
        <tr>
            <td>Max. this game:</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>Max. ever:</td>
            <td>TBD</td>
        </tr>
        </tbody>
    </table>
</div>
    
<div class="middlepane">
    <p class="headline"> Choose input value</p>
        
    <table class="lower-table-middle">
        <tbody>
        <tr>
            <button (click)="addEntry(10,listofplayers)" class="button">10</button>
            <button (click)="addEntry(18,listofplayers)" class="button">18</button>
            <button (click)="addEntry(20,listofplayers)" class="button">20</button>  
            <button (click)="addEntry(26,listofplayers)" class="button">26</button>  
            <button (click)="addEntry(36,listofplayers)" class="button">36</button> 
        </tr>
        <tr>
            <button (click)="addEntry(40,listofplayers)" class="button">40</button>  
            <button (click)="addEntry(48,listofplayers)" class="button">48</button>  
            <button (click)="addEntry(56,listofplayers)" class="button">56</button> 
            <button (click)="addEntry(58,listofplayers)" class="button">58</button> 
            <button (click)="addEntry(80,listofplayers)" class="button">80</button>
        </tr>
        </tbody>
    </table>
</div>   

<div class="rightpane">
    <p class="headline">Or enter manually</p>
    <input type="valueAsnumber" #score>
    <div class="split-screen">
        <div class="left-side1">
            <button (click)="addScore(score.value,listofplayers)" class="button-30" role="button">Safe</button>
        </div>
        <div class="middle-side1">
            <button (click)="skipPlayer(listofplayers)" class="button-30" role="button">Skip</button>
        </div>
        <div class="right-side1">
            <button class="button-end" role="button">Over</button>
        </div>
        
    </div>
</div> 
