<div class="container">
    <p>Let's play darts!</p>
    <div class="upper-data">
        <img src="../assets/background_dartboard.jpg">
        <div class="upper-container">
            <div class="top-left-side">
                <button class="button-30" role="button" [routerLink]="['/landingpageclassicgame']">Home</button>
            </div>
            <div class="top-right-side1">
                <table *ngIf="alldonevariable == false" class="upper-table">
                    <thead class = "upper-table thead tr">
                        <tr *ngIf="counter >= 1">
                            <th>Order Player</th>
                            <th>Name Player</th>
                        </tr>
                    </thead>
                    <tbody class = "upper-table tbody tr">
                        <tr *ngIf="counter >= 1">
                            <td>1</td>      
                            <td>{{playernames2[0].playername}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="counter > 1">2</td>      
                            <td *ngIf="counter > 1">{{playernames2[1].playername}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="counter > 2">3</td>      
                            <td *ngIf="counter > 2">{{playernames2[2].playername}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="counter > 3">4</td>      
                            <td *ngIf="counter > 3">{{playernames2[3].playername}}</td>
                        </tr>
                    </tbody>
                </table>
                <table *ngIf="alldonevariable == true" class="upper-table">
                    <thead class = "upper-table thead tr">
                        <tr>
                            <th>Name</th>
                            <th>Current value</th>
                            <th>Current average</th>
                            <th>Previous throw</th>
                            <th>Last game average</th>
                            <th>Long time average</th>
                        </tr>
                    </thead>
                    <tbody class = "upper-table tbody tr">
                        <tr *ngIf="activePnumber == 0 && counter >= 1" class ="active-row">
                            <td>{{playernames2[0].playername}}</td>
                            <td>{{playernames2[0].curval}}</td>
                            <td>{{playernames2[0].curav}}</td>
                            <td>{{playernames2[0].prevthrow}}</td>
                            <td>{{playernames2[0].lastav}}</td>
                            <td>{{playernames2[0].longav}}</td>
                        </tr>
                        <tr *ngIf="activePnumber != 0 && counter >= 1">
                            <td>{{playernames2[0].playername}}</td>
                            <td>{{playernames2[0].curval}}</td>
                            <td>{{playernames2[0].curav}}</td>
                            <td>{{playernames2[0].prevthrow}}</td>
                            <td>{{playernames2[0].lastav}}</td>
                            <td>{{playernames2[0].longav}}</td>
                        </tr>
                        <tr *ngIf="activePnumber == 1 && counter > 1" class="active-row">
                            <td>{{playernames2[1].playername}}</td>
                            <td>{{playernames2[1].curval}}</td>
                            <td>{{playernames2[1].curav}}</td>
                            <td>{{playernames2[1].prevthrow}}</td>
                            <td>{{playernames2[1].lastav}}</td>
                            <td>{{playernames2[1].longav}}</td>
                        </tr>
                        <tr *ngIf="activePnumber != 1 && counter > 1">
                            <td>{{playernames2[1].playername}}</td>
                            <td>{{playernames2[1].curval}}</td>
                            <td>{{playernames2[1].curav}}</td>
                            <td>{{playernames2[1].prevthrow}}</td>
                            <td>{{playernames2[1].lastav}}</td>
                            <td>{{playernames2[1].longav}}</td>
                        </tr>
                        <tr *ngIf="counter > 2">
                          <td>{{playernames2[2].playername}}</td>
                          <td>{{playernames2[2].curval}}</td>
                          <td>{{playernames2[2].curav}}</td>
                          <td>{{playernames2[2].prevthrow}}</td>
                          <td>{{playernames2[2].lastav}}</td>
                          <td>{{playernames2[2].longav}}</td>
                        </tr>
                        <tr *ngIf="counter > 3">
                            <td>{{playernames2[3].playername}}</td>
                            <td>{{playernames2[3].curval}}</td>
                            <td>{{playernames2[3].curav}}</td>
                            <td>{{playernames2[3].prevthrow}}</td>
                            <td>{{playernames2[3].lastav}}</td>
                            <td>{{playernames2[3].longav}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <div class="lower-data">
        
        <div *ngIf="alldonevariable == false"  class="split-screen">
            <div *ngIf="counter < 4" class="left-side">
                <p>Add the names of the players individually</p>
                <input type="text" placeholder="Enter player name here" #box>
                
                <button class="button-30" role="button" (click)="getVal(box.value)">Add</button>
                

            </div>
            <div *ngIf="counter >= 4" class="left-side">
                
            </div>
            <div class="right-side">
                <button *ngIf="counter < 5" class="button-30" role="button" (click)="allDone()">Done</button>
                
            </div>
        </div>
        <div *ngIf="alldonevariable == true" class="leftpane">
            <p class="players_name_highlighted">{{playernames2[activePnumber].playername}}</p>
            <table class="lower-table-left">
                <thead class="lower-table-left thead">
                <tr>
                    <td>Category</td>
                    <td>Value</td>
                </tr>
                </thead>
                <tbody class="lower-table-left tbody">
                <tr>
                    <td>Max. this game:</td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>Max. ever:</td>
                    <td>TBD</td>
                </tr>
                </tbody>
            </table>
        </div>
            
        <div *ngIf="alldonevariable == true" class="middlepane">
            <p class="headline"> Choose input value</p>
                
            <table class="lower-table-middle">
                <tbody>
                <tr>
                    <button (click)="addEntry(10,playernames2)" class="button">10</button>
                    <button (click)="addEntry(18,playernames2)" class="button">18</button>
                    <button (click)="addEntry(20,playernames2)" class="button">20</button>  
                    <button (click)="addEntry(26,playernames2)" class="button">26</button>  
                    <button (click)="addEntry(36,playernames2)" class="button">36</button> 
                </tr>
                <tr>
                    <button (click)="addEntry(40,playernames2)" class="button">40</button>  
                    <button (click)="addEntry(48,playernames2)" class="button">48</button>  
                    <button (click)="addEntry(56,playernames2)" class="button">56</button> 
                    <button (click)="addEntry(58,playernames2)" class="button">58</button> 
                    <button (click)="addEntry(80,playernames2)" class="button">80</button>
                </tr>
                </tbody>
            </table>
        </div>   
        <div *ngIf="alldonevariable == true" class="rightpane">
            <p class="headline">Or enter manually</p>
            <input type="valueAsnumber" #score>
            <div class="split-screen">
                <div class="left-side1">
                    <button (click)="addScore(score.value,playernames2)" class="button-30" role="button">Safe</button>
                </div>
                <div class="middle-side1">
                    <button (click)="skipPlayer(playernames2)" class="button-30" role="button">Skip</button>
                </div>
                <div class="right-side1">
                    <button class="button-end" role="button">Over</button>
                </div>
                
            </div>
            
        </div> 

    </div>
</div>