<div class="container">
    <p>Let's play darts!</p>
    <div class="upper-data">
        <img src="../assets/background_dartboard.jpg">
        <div class="upper-container">
            <div class="top-left-side">
                <button class="button-30" role="button" [routerLink]="['/landingpageclassicgame']">Home</button>
            </div>
            <div class="top-right-side">
                <table class="upper-table">
                    <thead class = "upper-table thead tr">
                        <tr>
                            <th>Order Players</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>      
                            <td>{{playernames[0]}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="counter > 1">2</td>      
                            <td *ngIf="counter > 1">{{playernames[1]}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="counter > 2">3</td>      
                            <td *ngIf="counter > 2">{{playernames[2]}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="counter > 3">4</td>      
                            <td *ngIf="counter > 3">{{playernames[3]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="lower-data">
        
        <div class="split-screen">
            <div class="left-side">
                <p>Add the names of the players individually</p>
                <input  type="text" #box>
                
                <button *ngIf="counter < 5" class="button-30" role="button" (click)="getVal(box.value)">Add</button>
                

            </div>
            <div class="right-side">
                <button class="button-30" role="button" [routerLink]="['/classicgamescoresheet']">Done</button>
            </div>
        </div> 

    </div>
</div>