<div class="container">
    <p>Let's play darts!</p>
    <div class="upper-data">
        <img src="../assets/background_dartboard.jpg">
        <div class="upper-container">

        </div>
    </div>
    <div class="lower-data">
        
        <div class="split-screen">
            <div class="left-side">
            <button class="button-30" role="button" [routerLink]="['/classicgamescoresheet']">Start game</button>
            </div>
            <div class="right-side">
                <button class="button-30" role="button" [routerLink]="['/exitpage']">Exit</button>
            </div>
        </div> 

    </div>
</div>
<!--
  <!DOCTYPE html>
  <html>
    <head>
      <script>
        function addToList() {
          var list = document.getElementById("list");
          var item = document.getElementById("textfield").value;
          var li = document.createElement("li");
          li.appendChild(document.createTextNode(item));
          list.appendChild(li);
          print(list);
        }
      </script>
    </head>
    <body>
      <input type="text" id="textfield"/>
      <button onclick="addToMyList()">Add</button>
      <ul id="list"></ul>
    </body>
  </html>
  -->
